@font-face {
	font-family: 'GolosUIWebBold';
	src: url(../../assets/fonts/Golos%20UI_Bold.eot) format('embedded-opentype'),
	url(../../assets/fonts/Golos%20UI_Bold.eot) format('embedded-opentype'),
	url(../../assets/fonts/Golos%20UI_Bold.woff2) format('woff2'),
	url(../../assets/fonts/Golos%20UI_Bold.woff) format('woff'),
	url(../../assets/fonts/Golos%20UI_Bold.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: auto;
}